<!DOCTYPE html>
<html lang="en">
<%- include('partials/header'); -%>
<body>
    <h1>Tipos de cuentas</h1>
    <%- include('partials/account_with_client'); -%>
    <%- include('partials/footer'); -%>
</body>
</html>